html {
  font-size: 14px;
}
body, .v-application {
  font-family: "PingFang-SC-Regular";
}
.theme--light.v-application {
  background-color: #fafafa;
}

/* 自定义 */
.text-underline {
  text-decoration: underline;
}
.nowrap {
  display: inline-block;
  white-space: nowrap;
}
.flex-unset {
  flex: unset !important;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* vuetify覆盖样式 */
.container {
  padding: 0 16px;
}
.v-tab {
  font-size: 1rem;
}
.v-label {
  font-size: 14px;
}
.v-input {
  font-size: 14px;
}
.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.03), 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
}
.v-btn--contained, .v-btn--is-elevated {
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 60%, 0.14), 0 3px 1px -2px hsla(0, 0%, 60%, 0.2), 0 1px 5px 0 hsla(0, 0%, 60%, 0.12);
}
.v-snack {
  z-index: 1061;
}
.v-messages {
  height: 14px;
}
.v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
  min-width: 30px;
}
.operate-btn {
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
  white-space: nowrap;
}
.operate-btn:hover {
  text-decoration: underline;
}
.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
  font-size: 0.925rem;
}
.v-card__actions > .v-btn.v-btn {
  padding: 0 16px;
}
.v-text-field__details {
  overflow: visible;
}
.v-data-table tbody tr.v-data-table__expanded__content {
  box-shadow: unset !important;
  background-color: #f5f5f5;
}
.v-select.v-select--chips.v-select--chips--small .v-select__selections {
  min-height: 32px;
}
.v-list-item--dense .v-list-item__title, 
.v-list-item--dense .v-list-item__subtitle, 
.v-list--dense .v-list-item .v-list-item__title, 
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-weight: normal;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  min-width: 100px;
}
@media(max-width: 600px) {
  .v-data-table td {
    max-width: unset;
  }
}