@font-face {
    font-family: "pingfang-regular";
    src: url("pingfang-regular.eot"); /* IE9 */
    src: url("pingfang-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("pingfang-regular.woff") format("woff"), /* chrome, firefox */
    url("pingfang-regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("pingfang-regular.svg#pingfang-regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


