@import '../fonts/PingFang-SC-Light.css';
@import './navigation.css';
@import './swal.css';

body, .v-application {
  font-family: "PingFang-SC-Light";
}

.v-list-item--dense .v-list-item__title, 
.v-list-item--dense .v-list-item__subtitle, 
.v-list--dense .v-list-item .v-list-item__title, 
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-weight: normal;
}

.container {
  padding: 0 16px;
}
.v-card {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.v-btn--contained {
  box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
}
.v-snack {
  z-index: 1061;
}
.v-messages {
  height: 14px;
}